In [1]:
import pandas as pd
import requests
import re
import numpy as np
from datetime import datetime

In [2]:
conflict_df = pd.read_csv('datasets/ucdp-prio-acd-171.csv')
countries_codes = pd.read_csv('datasets/countries_codes_and_coordinates.csv')

In [3]:
conflict_df;

In [4]:
for index, row in conflict_df.iterrows():
    conflict_df.loc[index, 'location'] = re.sub(r'\([^)]*\)', '', conflict_df.loc[index, 'location'])
    conflict_df.loc[index, 'location'] = conflict_df.loc[index, 'location'].rstrip()
    conflict_df.loc[index, 'sidea'] = conflict_df.loc[index, 'sidea'].replace('Government of ', '')
    conflict_df.loc[index, 'startdate'] = datetime.strptime(conflict_df.loc[index, 'startdate'], '%Y-%m-%d').month
    #conflict_df.loc[index, 'ependdate'] = datetime.strptime(conflict_df.loc[index, 'ependdate'], '%Y-%m-%d').month

    if pd.isnull(row['terr']) :
        conflict_df.loc[index, 'terr'] = row['location']

In [6]:
conflict_df = conflict_df.drop(['gwnoa2nd', 'gwnob2nd', 'gwnoloc', 'gwnoa', 
                  'gwnob', 'version', 'startdate2', 'startprec', 
                  'startdate2', 'startprec2' , 'ependprec', 'sidea2nd', 
                  'sideb2nd', 'epend'], axis=1)

In [8]:
conflict_df = conflict_df.rename(index=str, columns={ "startdate" : "start_month", "ependdate": "end_month"});

In [9]:
conflict_df

,conflictid,location,sidea,side b,sidebid,incomp,terr,year,intensity,cumint,type,start_month,end_month,region
0,200,Bolivia,Bolivia,Popular Revolutionary Movement,719,2,Bolivia,1946,2,1,3,7,1946-07-21,5
1,200,Bolivia,Bolivia,MNR,720,2,Bolivia,1952,1,1,3,7,1952-04-12,5
2,200,Bolivia,Bolivia,ELN,721,2,Bolivia,1967,1,1,3,7,1967-10-16,5
3,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1946,1,0,1,8,NaN,3
4,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1947,1,0,1,8,NaN,3
5,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1948,1,0,1,8,NaN,3
6,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1949,1,0,1,8,NaN,3
7,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1950,1,0,1,8,NaN,3
8,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1951,1,0,1,8,NaN,3
9,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1952,1,0,1,8,NaN,3
10,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1953,1,0,1,8,1953-11-09,3
11,202,China,China,PLA,161,2,China,1946,2,1,3,12,NaN,3
12,202,China,China,PLA,161,2,China,1947,2,1,3,12,NaN,3
13,202,China,China,PLA,161,2,China,1948,2,1,3,12,NaN,3
14,202,China,China,PLA,161,2,China,1949,2,1,3,12,1949-12-08,3
15,203,Greece,Greece,DSE,162,2,Greece,1946,2,1,3,3,NaN,1
16,203,Greece,Greece,DSE,162,2,Greece,1947,2,1,3,3,NaN,1
17,203,Greece,Greece,DSE,162,2,Greece,1948,2,1,3,3,NaN,1
18,203,Greece,Greece,DSE,162,2,Greece,1949,2,1,3,3,1949-10-16,1
19,204,Indonesia,Netherlands,Indonesian People's Army,163,1,Indonesia,1946,1,0,1,10,NaN,3
20,204,Indonesia,Netherlands,Indonesian People's Army,163,1,Indonesia,1947,1,0,1,10,NaN,3
21,204,Indonesia,Netherlands,Indonesian People's Army,163,1,Indonesia,1948,1,0,1,10,NaN,3
22,204,Indonesia,Netherlands,Indonesian People's Army,163,1,Indonesia,1949,1,0,1,10,1949-08-15,3
23,205,Iran,Iran,KDPI,164,1,Kurdistan,1946,1,0,4,5,1946-12-16,2
24,205,Iran,Iran,KDPI,164,1,Kurdistan,1966,1,1,3,5,NaN,2
25,205,Iran,Iran,KDPI,164,1,Kurdistan,1967,1,1,3,5,NaN,2
26,205,Iran,Iran,KDPI,164,1,Kurdistan,1968,1,1,3,5,1968-12-31,2
27,205,Iran,Iran,KDPI,164,1,Kurdistan,1979,2,1,3,5,NaN,2
28,205,Iran,Iran,KDPI,164,1,Kurdistan,1980,2,1,3,5,NaN,2
29,205,Iran,Iran,KDPI,164,1,Kurdistan,1981,1,1,3,5,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,13604,Syria,Syria,IS,234,1,Islamic State,2015,2,1,4,5,NaN,2
2248,13604,Syria,Syria,IS,234,1,Islamic State,2016,2,1,4,5,2016-12-31,2
2249,13611,Mali,Mali,FLM,6267,1,Macina Empire,2015,1,0,3,1,2015-10-28,4
2250,13637,Afghanistan,Afghanistan,IS,234,1,Islamic State,2015,1,0,4,2,NaN,3
2251,13637,Afghanistan,Afghanistan,IS,234,1,Islamic State,2016,2,1,4,2,2016-12-28,3
2252,13638,Cameroon,Cameroon,IS,234,1,Islamic State,2015,1,0,4,3,NaN,4
2253,13638,Cameroon,Cameroon,IS,234,1,Islamic State,2016,1,0,3,3,2016-10-06,4
2254,13639,Niger,Niger,IS,234,1,Islamic State,2015,1,0,4,3,NaN,4
2255,13639,Niger,Niger,IS,234,1,Islamic State,2016,1,0,4,3,2016-12-31,4
2256,13640,Chad,Chad,IS,234,1,Islamic State,2015,1,0,3,5,2015-11-01,4
2257,13641,Nigeria,Nigeria,IS,234,1,Islamic State,2015,2,1,4,3,NaN,4
2258,13641,Nigeria,Nigeria,IS,234,1,Islamic State,2016,2,1,4,3,2016-12-15,4
2259,13645,Yemen,Yemen (North Yemen),IS,234,1,Islamic State,2015,1,0,3,3,2015-10-06,2
2260,13646,Kenya,Kenya,Al-Shabaab,717,1,Northeastern Province and Coast,2015,1,0,3,3,NaN,4
2261,13646,Kenya,Kenya,Al-Shabaab,717,1,Northeastern Province and Coast,2016,1,0,3,3,2016-12-15,4
2262,13648,Egypt,Egypt,IS,234,1,Islamic State,2015,1,0,3,11,NaN,2
2263,13648,Egypt,Egypt,IS,234,1,Islamic State,2016,1,1,3,11,2016-12-06,2
2264,13653,India,India,UNLFW,6320,1,Western South East Asia,2015,1,0,3,4,NaN,3
2265,13653,India,India,UNLFW,6320,1,Western South East Asia,2016,1,0,3,4,2016-12-31,3
2266,13675,Lebanon,Lebanon,IS,234,1,Islamic State,2014,1,0,3,6,NaN,2
2267,13675,Lebanon,Lebanon,IS,234,1,Islamic State,2015,1,0,3,6,2015-12-15,2
2268,13692,"Afghanistan, United Kingdom, United States of ...",Afghanistan,"Government of United Kingdom, Government of Un...","28, 3",2,"Afghanistan, United Kingdom, United States of ...",2001,2,1,2,10,2001-11-13,"1, 3, 5"
2269,13694,Libya,Libya,IS,234,1,Islamic State,2015,1,0,3,3,NaN,4
2270,13694,Libya,Libya,IS,234,1,Islamic State,2016,2,1,4,3,2016-12-07,4
2271,13721,Algeria,Algeria,Jund al-Khilafah,5870,1,Islamic State,2015,1,0,3,4,2015-05-20,4
2272,13809,Syria,Syria,SDF,6288,3,Rojava Kurdistan,2016,1,0,3,12,2016-11-28,2
2273,13886,Jordan,Jordan,IS,234,1,Islamic State,2016,1,0,3,3,2016-12-29,2
2274,13902,Turkey,Turkey,IS,234,1,Islamic State,2015,1,0,3,7,NaN,2
2275,13902,Turkey,Turkey,IS,234,1,Islamic State,2016,2,1,3,7,NaN,2
2276,13936,Pakistan,Pakistan,IS,234,1,Islamic State,2016,1,0,3,2,2016-10-24,3

In [10]:
iso_countries = countries_codes['Country'].tolist()
iso_code = countries_codes['ISO2'].tolist()
sidea = conflict_df['sidea'].tolist()
location  = conflict_df['location'].tolist()

In [11]:
iso_conflict = []

for i in range(0, len(sidea)):
    if sidea[i] in iso_countries or location[i] in iso_countries:
        for j in range(0, len(iso_countries)): 
            if location[i] == iso_countries[j]:
                iso_conflict.append(iso_code[j])
                break
            elif sidea[i] == iso_countries[j]:
                iso_conflict.append(iso_code[j])
                break
    else:
        iso_conflict.append(0)

In [15]:
conflict_df.head()

,conflictid,location,sidea,side b,sidebid,incomp,terr,year,intensity,cumint,type,start_month,end_month,region,ISO2
0,200,Bolivia,Bolivia,Popular Revolutionary Movement,719,2,Bolivia,1946,2,1,3,7,1946-07-21,5,BO
1,200,Bolivia,Bolivia,MNR,720,2,Bolivia,1952,1,1,3,7,1952-04-12,5,BO
2,200,Bolivia,Bolivia,ELN,721,2,Bolivia,1967,1,1,3,7,1967-10-16,5,BO
3,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1946,1,0,1,8,NaN,3,KH
4,201,Cambodia,France,Khmer Issarak,160,1,Cambodia,1947,1,0,1,8,NaN,3,KH

In [16]:
conflict_df = conflict_df.assign(ISO2 = iso_conflict )

In [17]:
conflict_df.to_csv('clean_conflict.csv')