In [49]:
import pandas as pd
import numpy as np

#### 1. Data import

In [50]:
conflict_df = pd.read_csv('datasets/ucdp-prio-acd-171.csv')
conflict_df.head()

,conflictid,location,sidea,sidea2nd,side b,sidebid,sideb2nd,incomp,terr,year,...,epend,ependdate,ependprec,gwnoa,gwnoa2nd,gwnob,gwnob2nd,gwnoloc,region,version
0,200,Bolivia,Government of Bolivia,NaN,Popular Revolutionary Movement,719,NaN,2,NaN,1946,...,1,1946-07-21,1.0,145,NaN,NaN,NaN,145,5,17.1
1,200,Bolivia,Government of Bolivia,NaN,MNR,720,NaN,2,NaN,1952,...,1,1952-04-12,1.0,145,NaN,NaN,NaN,145,5,17.1
2,200,Bolivia,Government of Bolivia,NaN,ELN,721,NaN,2,NaN,1967,...,1,1967-10-16,1.0,145,NaN,NaN,NaN,145,5,17.1
3,201,Cambodia (Kampuchea),Government of France,NaN,Khmer Issarak,160,NaN,1,Cambodia,1946,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,17.1
4,201,Cambodia (Kampuchea),Government of France,NaN,Khmer Issarak,160,NaN,1,Cambodia,1947,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,17.1

#### 2. Dataframe process

- remove useless columns
- remove all "Government of..."
- remove text between parantheses
- complete/correct "terr" columns

In [51]:
# Remove useless columns
columns_to_drop = ['conflictid', 'sidebid', 'incomp', 'terr', 'year', 'startprec', 'sidea2nd',
                   'startprec2', 'epend', 'ependprec', 'gwnoa', 'gwnoa2nd', 'sideb2nd',
                   'gwnob', 'gwnob2nd', 'gwnoloc', 'version']

conflict_df.drop(columns_to_drop, axis=1, inplace=True)

# Remove columns
conflict_df.replace({'Government of ': ''}, regex=True, inplace=True)
# Remove text between parentheses 
conflict_df.location.replace({r'\([^()]+\)' : ''}, regex=True, inplace=True)

conflict_df.head()

,location,sidea,side b,intensity,cumint,type,startdate,startdate2,ependdate,region
0,Bolivia,Bolivia,Popular Revolutionary Movement,2,1,3,1946-07-18,1946-07-21,1946-07-21,5
1,Bolivia,Bolivia,MNR,1,1,3,1946-07-18,1952-04-09,1952-04-12,5
2,Bolivia,Bolivia,ELN,1,1,3,1946-07-18,1967-03-31,1967-10-16,5
3,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
4,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3

In [52]:
columns = ("location", "sidea", "side b", "intensity", "cumint", "type", 
           "startdate", "startdate2", "ependdate", "region")

conflict_df_tmp = pd.DataFrame(columns=columns)

for index in range(len(conflict_df)):

    locations = conflict_df.loc[index, 'location'].split(",")
    regions = conflict_df.loc[index, 'region'].split(",")
    
    if len(regions) > 1:
        
        pairs = [(locations[i], regions[i]) for i in range(len(locations))]

        for i, pair in enumerate(pairs):

            conflict_row_df = conflict_df.loc[index:index,]
            
            if i > 0: 
                conflict_row_df.set_value(index, 'location', pair[0][1:])
                conflict_row_df.set_value(index, 'region', pair[1])
                #conflict_row_df.loc[index, 'location'] = pair[0][1:]
                #conflict_row_df.loc[index, 'region']   = pair[1]
            else: 
                conflict_row_df.set_value(index, 'location', pair[0])
                conflict_row_df.set_value(index, 'region', pair[1])
                
            # Add the new line to the df
            conflict_df_tmp = conflict_df_tmp.append(conflict_row_df)
        
        # Remove initial line
        conflict_df.drop(index, inplace=True)#.reset_index(drop=True)
                  
    elif len(locations) > 1:
        conflict_df.loc[index, 'location'] = locations[0]
                
            
#test      
conflict_df = pd.concat([conflict_df,conflict_df_tmp]).reset_index(drop=True)

In [53]:
conflict_df

,location,sidea,side b,intensity,cumint,type,startdate,startdate2,ependdate,region
0,Bolivia,Bolivia,Popular Revolutionary Movement,2,1,3,1946-07-18,1946-07-21,1946-07-21,5
1,Bolivia,Bolivia,MNR,1,1,3,1946-07-18,1952-04-09,1952-04-12,5
2,Bolivia,Bolivia,ELN,1,1,3,1946-07-18,1967-03-31,1967-10-16,5
3,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
4,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
5,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
6,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
7,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
8,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
9,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,NaN,3
10,Cambodia,France,Khmer Issarak,1,0,1,1946-08-31,1946-08-31,1953-11-09,3
11,China,China,PLA,2,1,3,1946-12-31,1946-12-31,NaN,3
12,China,China,PLA,2,1,3,1946-12-31,1946-12-31,NaN,3
13,China,China,PLA,2,1,3,1946-12-31,1946-12-31,NaN,3
14,China,China,PLA,2,1,3,1946-12-31,1946-12-31,1949-12-08,3
15,Greece,Greece,DSE,2,1,3,1946-03-31,1946-03-31,NaN,1
16,Greece,Greece,DSE,2,1,3,1946-03-31,1946-03-31,NaN,1
17,Greece,Greece,DSE,2,1,3,1946-03-31,1946-03-31,NaN,1
18,Greece,Greece,DSE,2,1,3,1946-03-31,1946-03-31,1949-10-16,1
19,Indonesia,Netherlands,Indonesian People's Army,1,0,1,1945-10-13,1946-12-31,NaN,3
20,Indonesia,Netherlands,Indonesian People's Army,1,0,1,1945-10-13,1946-12-31,NaN,3
21,Indonesia,Netherlands,Indonesian People's Army,1,0,1,1945-10-13,1946-12-31,NaN,3
22,Indonesia,Netherlands,Indonesian People's Army,1,0,1,1945-10-13,1946-12-31,1949-08-15,3
23,Iran,Iran,KDPI,1,0,4,1946-05-31,1946-05-31,1946-12-16,2
24,Iran,Iran,KDPI,1,1,3,1946-05-31,1966-12-31,NaN,2
25,Iran,Iran,KDPI,1,1,3,1946-05-31,1966-12-31,NaN,2
26,Iran,Iran,KDPI,1,1,3,1946-05-31,1966-12-31,1968-12-31,2
27,Iran,Iran,KDPI,2,1,3,1946-05-31,1979-12-31,NaN,2
28,Iran,Iran,KDPI,2,1,3,1946-05-31,1979-12-31,NaN,2
29,Iran,Iran,KDPI,1,1,3,1946-05-31,1979-12-31,NaN,2
...,...,...,...,...,...,...,...,...,...,...
2261,Syria,Syria,SDF,1,0,3,2015-12-06,2016-04-23,2016-11-28,2
2262,Jordan,Jordan,IS,1,0,3,2016-03-02,2016-12-18,2016-12-29,2
2263,Turkey,Turkey,IS,1,0,3,2015-07-23,2015-11-14,NaN,2
2264,Turkey,Turkey,IS,2,1,3,2015-07-23,2015-11-14,NaN,2
2265,Pakistan,Pakistan,IS,1,0,3,2016-02-12,2016-10-24,2016-10-24,3
2266,France,France,Thailand,1,0,2,1946-05-07,1946-05-07,1946-11-17,1
2267,Thailand,France,Thailand,1,0,2,1946-05-07,1946-05-07,1946-11-17,3
2268,Egypt,Egypt,United Kingdom,1,0,2,1951-10-18,1951-10-18,NaN,1
2269,United Kingdom,Egypt,United Kingdom,1,0,2,1951-10-18,1951-10-18,NaN,2
2270,Egypt,Egypt,United Kingdom,1,0,2,1951-10-18,1951-10-18,1952-12-31,1
2271,United Kingdom,Egypt,United Kingdom,1,0,2,1951-10-18,1951-10-18,1952-12-31,2
2272,France,France,Tunisia,2,1,2,1961-07-20,1961-07-20,1961-07-22,1
2273,Tunisia,France,Tunisia,2,1,2,1961-07-20,1961-07-20,1961-07-22,4
2274,Indonesia,Indonesia,Netherlands,1,0,2,1962-01-15,1962-01-15,1962-09-21,1
2275,Netherlands,Indonesia,Netherlands,1,0,2,1962-01-15,1962-01-15,1962-09-21,3
2276,China,China,Russia (Soviet Union),1,0,2,1969-03-02,1969-03-02,1969-12-31,1
2277,Russia,China,Russia (Soviet Union),1,0,2,1969-03-02,1969-03-02,1969-12-31,3
2278,Cyprus,Cyprus,Turkey,2,1,2,1974-06-20,1974-06-20,1974-08-16,1
2279,Turkey,Cyprus,Turkey,2,1,2,1974-06-20,1974-06-20,1974-08-16,2
2280,Argentina,Argentina,United Kingdom,1,0,2,1982-04-02,1982-05-02,1982-06-14,1
2281,United Kingdom,Argentina,United Kingdom,1,0,2,1982-04-02,1982-05-02,1982-06-14,5
2282,Australia,"Australia, United Kingdom, United States of Am...",Iraq,2,1,2,2003-03-20,2003-03-23,2003-04-28,1
2283,Iraq,"Australia, United Kingdom, United States of Am...",Iraq,2,1,2,2003-03-20,2003-03-23,2003-04-28,2
2284,United Kingdom,"Australia, United Kingdom, United States of Am...",Iraq,2,1,2,2003-03-20,2003-03-23,2003-04-28,3
2285,United States of America,"Australia, United Kingdom, United States of Am...",Iraq,2,1,2,2003-03-20,2003-03-23,2003-04-28,5
2286,Afghanistan,Afghanistan,Russia (Soviet Union),1,0,2,1979-12-27,1979-12-27,1979-12-28,1
2287,Russia,Afghanistan,Russia (Soviet Union),1,0,2,1979-12-27,1979-12-27,1979-12-28,3
2288,Afghanistan,Afghanistan,"United Kingdom, United States of America",2,1,2,2001-10-07,2001-10-07,2001-11-13,1
2289,United Kingdom,Afghanistan,"United Kingdom, United States of America",2,1,2,2001-10-07,2001-10-07,2001-11-13,3
2290,United States of America,Afghanistan,"United Kingdom, United States of America",2,1,2,2001-10-07,2001-10-07,2001-11-13,5

#### 3. Keep ex-colonies

In [ ]:
colonized_df = pd.read_csv('datasets/colonies_wikipedia.csv')
colonized_countries = list(colonized_df["Colonized Country"])

In [ ]:
conflict_df_tmp = conflit_df.head(100)

for index in range(len(conflict_df_tmp)):
    
    if conflict_df_tmp["location"][index]
    print(conflict_df_tmp["location"][index])

In [ ]:
conflict_df_tmp["location"][0] in colonized_countries